.controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

}

.createButton {
  background-color: #43a047;
  color: #fff;

  &:hover {
    background-color: #388e3c;
  }
}

.resetButton {
  background-color: #f44336;
  color: #fff;

  &:hover {
    background-color: #e53935;
  }
}
